---
// Layout Imports
import MainLayout from '../layouts/MainLayout.astro'
---
<MainLayout title="About Me - Nathan McLaren Web Design">
  <h1>ABOUT ME</h1>
  <p>👋 Hi, my name is Nathan.  I am a self-taught web designer - and have been steadily increasing my skills over the last 4ish years.  I've been lucky enough to create sites for several local business', and would love to help with yours!</p>
  <br>
  <p>If you're interested in getting your own website for your business, or your blog, or whatever, please give contact me! I can also help with other projects including setting up e-mail for your organization.</p>
  <br>
  <p>Over my time designing websites, I have learned (but not mastered!) many technologies including <a href="https://getbootstrap.com/">Bootstrap</a>, <a href="https://reactjs.org/">React</a>, and most recently <a href="https://astro.build/">Astro</a>, as well as launching these pages using <a href="https://www.netlify.com/">Netlify</a>, <a href="https://pages.github.com/">Github Pages</a>, and more.</p>
  <br>
  <p>I have also dipped my toes into other tech, including <a href="https://nextjs.org/">NextJS</a>.</p>
  <br>
  <p>If you're not sure what any of this means and would just like for me to help with your project, please head on over to <a href="/contactinfo">'Contact Info'</a></p>
</MainLayout>

<style>
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: orange;
}
</style>