---
// Layout Imports
import MainLayout from '../layouts/MainLayout.astro'
---
<MainLayout title="Contact Info - Nathan McLaren Web Design">
  <h1>CONTACT INFO</h1>
  <p><a href="tel:+12042459118">T: (204) 245-9118</a></p>
  <p><a href="mailto:nathangmclaren@gmail.com">E: nathangmclaren@gmail.com</a></p>
</MainLayout>

<style>
a {
  text-decoration: none;
  color: inherit;
}
</style>