<div class="container">
  <h1>If you’ve ever considered a website for your business, there has never been a better time.</h1>
  <a href="/contactinfo"><div>Contact</div></a>
</div>

<style>
.container {
  margin: 2rem 5rem;
  background: linear-gradient(90deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  border-radius: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container h1 {
  padding: 3.5rem;
}

.container div {
  background:    #000;
  color: #fff;
  border-radius: 5rem;
  padding: 20px 45px;
  text-align: center;
  margin: 3rem;
}

.container a {
  text-decoration: none;
  font-weight: 900;
  font-size: 32px;
  line-height: 75px;
  letter-spacing: -0.04em;

  color: #E5E5E5;
}
</style>