---
import logo from '../../public/assets/logo.png';
---

<footer>
  <div class="row-1">
    <div class="column-1">
      <img src={logo} alt="nathan mclaren web design logo">
      <p>I work closely with my clients to build websites that they are proud to show off.</p>
    </div>
    <div class="column-2">
      <h3>NAV</h3>
      <a href="/">HOME</a>
      <a href="/aboutme">ABOUT ME</a>
      <a href="/contactinfo">CONTACT INFO</a>
    </div>
    <div class="column-3">
      <h3>FOLLOW</h3>
      <a href="https://twitter.com/nathanmclaren9">Twitter</a>
      <a href="www.linkedin.com/in/nathan-mclaren">LinkedIn</a>
      <a href="https://github.com/nathan-mc">Github</a>
    </div>
  </div>
  <div class="row-2">
    <p>Copyright &copy; 2022</p>
  </div>
</footer>

<style>
footer {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.row-1 {
  display: flex;
  flex-direction: row;
}

.column-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 33%;
}

.column-1 img {
  width: 4rem;
  padding-bottom: 1rem;
}

.column-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 33%;
}

.column-2 h3, .column-2 a {
  padding-bottom: 1rem;
}

.column-2 a:hover {
  color: orange;
}

.column-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 33%;
}

.column-3 h3, .column-3 a {
  padding-bottom: 1rem;
}

.column-3 a:hover {
  color: orange;
}

.column-2 a, .column-3 a {
  text-decoration: none;
  color: #fff;
}

.row-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  padding: 2rem 0;
}

</style>