<div class="container">
  <div class="column-1">
    <h1>Websites are integral to businesses of all sizes in 2021.</h1>
  </div>
  <div class="column-2">
    <div class="stat-container">
      <h3>About 71% of small businesses have a website.</h3>
      <p>If you don’t have a website, your competition does.</p>
    </div>
    <div class="stat-container">
      <h3>38.5% of users judge a business by their website.</h3>
      <p>Top-notch web design is a must.</p>
    </div>
    <div class="stat-container">
      <h3>Poor user experience drives 50% of people to the competition.</h3>
      <p>Proper user experience will help keep customers at your business.</p>
    </div>
  </div>
</div>

<style>
.container {
  display: flex;
  flex-direction: row;

  width: 100%;

  padding: 3rem 0;
}

.column-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
}

.column-1 h1 {
  background-color: #4158D0;
  background-image: linear-gradient(90deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: 900;
  font-size: 65px;
  line-height: 75px;
  letter-spacing: -0.04em;

  padding: 0 2rem;
}

.stat-container h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #fff;
}

.stat-container p {
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #F16D6E;
}

.column-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 40%;
}

.stat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem 0;
}

@media screen and (max-width: 750px) {
  .container {
    flex-direction: column;
  }

  .column-1, .column-2 {
    width: 100%;
  }

  .column-1 h1 {
    padding: 0;
  }
}
</style>