:root {
  --bg-primary: #14213d;
  --bg-accent: #e5e5e5;
  --text-primary: #fff;
  --text-accent: #fca311;

  --ff-primary: 'Roboto', sans-serif;;
  --ff-accent: 'Indie Flower', cursive;;
}

* {
  margin: 0;
  padding: 0;
}
